*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #262217; 
/*     background-image: url(fundo.png); */
    position: absolute;
    padding-bottom: 80px;
}

#links img{
    padding: 25px 142px
}


#links ul{
    color: #b17611;
    float: right;
    font-size: 12px;
    padding: 26px 184px;
}

#links li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    padding: 25px 7px 25px 7px;
}

.area_anuncio{
    padding: 75px 140px;
    position: relative;
}

#imagens-museu{
    display: inline;
    word-spacing: 20px;
}


